body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: linear-gradient(rgba(60, 88, 8, 0.527),rgba(18, 22, 14, 0.822)),
  url("../images/background/AboutBack.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 80vh;
}

.header{
  background-color: #56ff56;
  color: white;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  border-bottom: 8px solid black;
  z-index: 999;
}
.header a{
  font-family: poppins, sans-serif;
  color: white;
  text-decoration: none;
}
.logo{
  display:flex;
  justify-content: space-between;
  align-items: center;

}


.logoimg{
  width: 70px;
  height: auto;
  margin-left: 2rem;

}
.logoimg:hover{

  transition: all 0.15s linear;
  transform: scale(1.1);
}

.buttons ul{
  margin: 5 px;

  padding:0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.buttons ul li{
  display:inline-block;
  padding-right: 1.5rem ;
}
.buttons ul li a{
  display: block;

  padding:0.2rem 1rem ;
  transition: all 0.2s linear;
  border-radius: 8px;
  color: rgb(0, 0, 0);
}
/* efecto hover */
.buttons ul li a:hover{

  background:#fdffff;
  transform: scale(1.2);
  color: #3cff3c;
}
.title {
  margin-top: 140px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Trebuchet MS';
}

.description {
  display: block;
  margin: 20px auto 60px auto;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 90px;
}


.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 100px;
}


.contact-method {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contact-method img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #aaa;
  border: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.contact-method img:hover {
  transform: scale(1.05);
}


.contact-method a {
  margin-top: 12px;
  font-size: 20px;
}
